<div class='container'>
  <ng-container color="primary">
    <mat-grid-list cols="12" rowHeight="100" gutterSize="15px">
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <mat-card>
          1
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <mat-card>
          2
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <mat-card>
          3
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <mat-card>
          4
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="3">
        <mat-card>
          5
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        <mat-card>
          5
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        <mat-card>
          6
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        <mat-card>
          7
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        <mat-card>
          8
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="4">
        <mat-card>
          9
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="4">
        <mat-card>
          10
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </ng-container>
</div>
