<div class='container'>
  <ng-container color="primary">
    <mat-grid-list cols="12" rowHeight="100" gutterSize="15px">
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        전체 예금
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        전체 적금
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        전체 부채
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        부가 수입
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="3">
        소비 그래프
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        이번달 수입
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        이번달 소비
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        고정 소비
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2">
        과소비 지수
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="4">
        목표 적금 그래프
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="4">
        토탈 그래프
      </mat-grid-tile>
    </mat-grid-list>

  </ng-container>
</div>
