.container{
  padding: 3%;
  mat-card{
    width: 90%;
    margin: 15px 0;
    min-height: 80%;
    .title{
      margin: 17px;
    }
    .bold{
      font-weight: bold;
    }
  }
  mat-form-field {
    width: 100%;
  }
  table{
    width: 100%;
  }
  .text-inside-grid {
    position: absolute;
    width: 97%;
    height: 95%;
  }
}
