<div class='container'>
  <ng-container color="primary">
    <mat-grid-list cols="2" rowHeight="200" gutterSize="30px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="account-summary">
          <mat-form-field appearance="fill">
            <mat-label>Accounts</mat-label>
            <mat-select>
              <mat-option value="valid" selected>우리은행 Evenry Day CHQUING ACCOUNT - 1324-23-43-</mat-option>
              <mat-option value="valid">우리은행 Evenry Day CHQUING ACCOUNT - 1324-23-43-</mat-option>
            </mat-select>
            <!--        <mat-hint>Errors appear instantly!</mat-hint>-->
            <!--        <mat-error>You must make a selection</mat-error>-->
            <mat-error>
              Your selection is invalid
            </mat-error>
          </mat-form-field>
          <table>
            <tr>
              <td class="bold total">Current Balance</td>
              <td class="bold">
                Update Date
              </td>
            </tr>
            <tr>
              <td class="total" rowspan="2"><span>$11,500.35</span></td>
              <td>Aug 20,2020 11:50:00PM</td>
            </tr>
            <tr>
              <td><button mat-raised-button class="mat-primary">Add Account</button></td>
            </tr>
          </table>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" rowspan="3">
        <div class="text-inside-grid">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date.</th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- widthdrawals Column -->
            <ng-container matColumnDef="withdrawals">
              <th mat-header-cell *matHeaderCellDef> Wthdrawals</th>
              <td mat-cell *matCellDef="let element"> {{element.withdrawals}} </td>
            </ng-container>

            <!-- deposits Column -->
            <ng-container matColumnDef="deposits">
              <th mat-header-cell *matHeaderCellDef> Deposits</th>
              <td mat-cell *matCellDef="let element"> {{element.deposits}} </td>
            </ng-container>

            <!-- balance Column -->
            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef> Balance</th>
              <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</div>
